{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}KashKart{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Navbar -->
<header>
  <div class="logo">KashKart</div>

  <div class="menu-icon" onclick="toggleMenu()">☰</div>

  <nav id="navbar">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{%url 'products_list'%}">Products</a></li>
      <li>
  {% if request.user.is_authenticated and request.user.vendor %}
      <a href="{% url 'vendor_dashboard' %}">SELL</a>
  {% else %}
      <a href="{% url 'vendor_login' %}">SELL</a>
  {% endif %}
</li>


      {% if request.user.is_authenticated %}
<li><a href="{% url 'customer_dashboard' %}">Hi, {{ request.user.username }}</a></li>
<li><a href="{% url 'customer_logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'customer_login' %}">Login</a></li>
<li><a href="{% url 'customer_signup' %}">Signup</a></li>
{% endif %}
    </ul>
  </nav>
</header>

<script>
function toggleMenu() {
    document.getElementById("navbar").classList.toggle("active");
}
</script>


  <!-- Page Content -->
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 KashKart — Made with ❤️ in Kashmir</p>
  </footer>

</body>
</html>

